*.class

# Package Files #
*.war
*.ear

*.dat*
*.lock
*.mca
*.yml

*banned*
*ops*
*server.log*
*server.properties
*white-list*

**/world/**
**/world_nether/**
**/world_the_end/**

dependency-reduced-pom.xml

target
.classpath
.project
.settings

build.local.properties

mc-server
lib

*.temp

mc-server/eula.txt
mc-server/blockmetadata.bin
mc-server/*.jar


