*.class

# Package Files #
*.war
*.ear

*.dat*
*.lock
*.mca
*.yml

*banned*
*ops*
*server.log*
*server.properties
*white-list*

**/world/**
**/world_nether/**
**/world_the_end/**

**/mc-server/*.json
**/mc-server/logs
**/mc-server/plugins/*.*

dependency-reduced-pom.xml

target
.classpath
.project
.settings

build.local.properties
contentcraft/mc-server/alfresco-world/stats/d23efcd1-1434-4192-a853-26f310d7dc1f.json
contentcraft/mc-server/alfresco-world/stats/2f26bfee-0d75-45a8-8bd8-7bc5d70a08f8.json
contentcraft/mc-server/crash-reports/crash-2014-09-10_11.00.26-server.txt
contentcraft/mc-server/.update-lock
*.temp
