*.class

# Package Files #
*.war
*.ear

*.dat*
*.lock
*.mca
*.yml

*banned*
*ops*
*server.log*
*server.properties
*white-list*

**/world/**
**/world_nether/**
**/world_the_end/**

dependency-reduced-pom.xml

.classpath
.project
.settings

build.local.properties

**/mc-server/logs/**
**/mc-server/plugins/**
**/mc-server/*.json
**/surefire-reports/**
target/*.jar

**/antrun/**
**/maven-archiver/**


**/classes/**


lib

*.temp


/target/
